body {background-color: cadetblue;}
h1 {background-color: beige;} 
ul {text-align: center ;}
ul {text-size-adjust: 300;}
#hero {
    height: 600px;
    width: 900px;
}
#section1 {text-align: center;}
header {text-align: center;}
h1 {border-color: blueviolet;}
h1 {border-style: groove;}



